

@media (max-width: 576px) {
    #content {
        padding-left: 10px;
        /* Adjust as needed for smaller screens */
        padding-top: 60px;
        /* Adjust as needed for smaller screens */
    }
}

.card:after {
    content: '';
   position: absolute;
   left: 50%;
   bottom: -9%;
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 10px solid rgba(233,236,239);
   clear: both;
 
}